/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

/*Styles container for table*/
#parentContainer {
	display: flex;
	margin: auto;
	width: 50%;
	border: 3px solid #73AD21;
	padding: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}

/*styling for header text*/
#titleText {
	width: 50.5%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: grey;
	margin: auto;
}

/*centers text in buttons*/
.imgButton {
	text-align: center;
}

/*styling buttons*/
button {
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Styling images and buttons*/
.imgContainer img,
.imgContainer .imgButton button {
	position: relative;
	width: 100%;
}
