/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

body
{
	background: rgb(36,93,94);
	background: radial-gradient(circle, rgba(36,93,94,1) 11%, rgba(113,153,161,1) 70%);
}

#parentContainer
{
	background: rgb(20,59,60);
	background: radial-gradient(circle, rgba(20,59,60,1) 11%, rgba(89,124,131,1) 70%);
	border-radius: 10px;
}

/*Styles container for table*/
#parentContainer {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}

/*styling for header text*/
#titleText {
	width: 50.5%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: whitesmoke;
	margin: auto;
}

/*centers text in buttons*/
.imgButton {
	text-align: center;
}

/*styling buttons*/
button {
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: whitesmoke;

}

/*Styling images and buttons*/
.imgContainer img,
.imgContainer .imgButton button {
	width: 100%;
	border: 3px solid grey;
	border-radius: 20px;
}
